flujos/Flujo 3 - Recordatorio SoftKafe.json
{
  "name": "Flujo 3 - Recordatorio SoftKafe",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM reservas \nWHERE DATE(fecha_hora AT TIME ZONE 'UTC' AT TIME ZONE 'America/Asuncion') = CURRENT_DATE + INTERVAL '1 day';",
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -16
      ],
      "id": "0eeb3ec3-ff0a-40db-8a73-ed01ae281aee",
      "name": "reservas",
      "credentials": {
        "postgres": {
          "id": "3i3fSGlRt24T52Mq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "=¡Hola {{ $json.nombre_cliente }}! ☕️ Te escribimos desde SoftKafe para recordarte que tienes una reserva con nosotros para mañana a las {{ $json.fecha_hora }} para {{ $json.cantidad_personas }} personas. ¡Te esperamos!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -16
      ],
      "id": "a800bd17-ec78-417e-8eb4-e874da694311",
      "name": "Send a text message",
      "webhookId": "7c3af483-441d-4fa6-9ba1-a57f7c8bc6ba",
      "credentials": {
        "telegramApi": {
          "id": "TNI7NiKj3gVSgO01",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -16
      ],
      "id": "281afbc4-cf4e-4b3b-87ac-21000f20c426",
      "name": "job"
    }
  ],
  "pinData": {},
  "connections": {
    "reservas": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job": {
      "main": [
        [
          {
            "node": "reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a6190c0-e5c8-49c3-87e3-b0507372b5d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43091d9d568f6fa10ab3911eb7609cb7d470854a799578d1ea03fb4233c19af7"
  },
  "nodeGroups": [],
  "id": "K0k2rkgcmvXqq1oQ",
  "tags": []
}