flujos/Flujo 2 - softKafe.json
{
  "name": "softKafe",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -48
      ],
      "id": "99a5f36f-405b-401c-81d0-de55000a032f",
      "name": "Telegram Trigger",
      "webhookId": "2a16d2f0-9cbe-4d63-a571-7dfb6f1cb1ba",
      "credentials": {
        "telegramApi": {
          "id": "TNI7NiKj3gVSgO01",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ead2d2e-6670-421b-a5dd-ad730b0ba6d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76b41962-2502-4926-8efd-c2cd2be7a485",
                    "leftValue": "={{ $json.message_content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f97f5d53-5514-4ade-9f24-cec305031470",
                    "leftValue": "={{ $json.message_content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        -80
      ],
      "id": "c8ae366c-a4e0-4cab-a643-09ece77edc9c",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        -240
      ],
      "id": "2496b612-fd8e-45e5-8e39-c81d3d89516e",
      "name": "obtener audio",
      "webhookId": "7a12f65a-796d-4343-9edb-04d61328ea94",
      "credentials": {
        "telegramApi": {
          "id": "TNI7NiKj3gVSgO01",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.mimeType = 'audio/ogg';\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -240
      ],
      "id": "ee44ac4c-f80f-4458-901a-8a9eccfe52d4",
      "name": "formato"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "Transcribe el siguiente audio",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        576,
        -240
      ],
      "id": "ca4df454-d72c-4d63-a1b1-af1537048724",
      "name": "transcribe audio",
      "credentials": {
        "googlePalmApi": {
          "id": "5nBFxidUVJmqsO45",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8d6a000-9138-40a0-9572-285fd6879c73",
              "name": "chat_input",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -48
      ],
      "id": "993686c4-82ab-4556-8b9c-47d5d65bb53c",
      "name": "unifica"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat_input }}",
        "options": {
          "systemMessage": "=Usa esta herramienta para buscar información sobre el menú, precios, horarios, reservas, ubicación y enlaces a fotos de la cafetería SoftKafe.\n\nREGLA DE FORMATO ESTRICTA: Tu plataforma de salida es Telegram. Para resaltar texto, usa EXCLUSIVAMENTE etiquetas HTML básicas (, , , ). ESTÁ TOTALMENTE PROHIBIDO usar etiquetas de listas HTML como , ,  o . Si necesitas hacer una lista de elementos, usa simplemente viñetas de texto (•) o guiones normales (-). NUNCA uses formato Markdown (prohibido usar asteriscos * o guiones bajos _ para el formato), ya que esto causa errores fatales en el sistema.\n\nSi te hacen algun pregunta que no tenga que ver con la cafetería SoftKafe debes parar y responder que solo tienes información sobre la cafetería.\n\nHerramientas:\nCuando un cliente te pida hacer una nueva reserva, tu tarea es registrarla en ambos sistemas del negocio. OBLIGATORIAMENTE debes ejecutar la herramienta registra_agendamiento (para guardar en la base de datos) y en el mismo turno ejecutar la herramienta registra_calendario (para agendar en Google Calendar). Usa los mismos datos de fecha, hora y nombre para ambas herramientas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        -48
      ],
      "id": "5faf5113-ac0c-4b7f-bb79-c39ea756826c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('normalizacion').item.json.message_chat_id_sender }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        1376,
        176
      ],
      "id": "089c75f2-820f-4715-9b2f-e2726928408e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "3i3fSGlRt24T52Mq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5b2c6ad-353f-45e8-91a8-ef682c1963bf",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "number"
            },
            {
              "id": "46ee37c4-d4c3-494d-bf75-1c277a441df8",
              "name": "message_chat_id_sender",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "4683d0d0-7676-46ab-9b10-f7349b7b22be",
              "name": "message_content_type",
              "value": "={{ $json.message.text ? 'text' : ($json.message.photo ? 'image' : ($json.message.voice || $json.message.audio ? 'audio' : 'xx')) }}",
              "type": "string"
            },
            {
              "id": "1d2dcb67-db8b-43d8-a8ff-934368e2c460",
              "name": "message_timestamp",
              "value": "={{ $json.message.date }}",
              "type": "number"
            },
            {
              "id": "05eb4662-32c2-4706-9b77-c9f209e02dd4",
              "name": "user_name",
              "value": "={{ $json.message.chat.first_name }}",
              "type": "string"
            },
            {
              "id": "282913de-a6eb-4201-b130-9152901f530c",
              "name": "user_number",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "a3f1ff99-4741-470b-a373-9e0e57b063f7",
              "name": "file_id",
              "value": "={{ $json.message.voice ? $json.message.voice.file_id : ($json.message.audio ? $json.message.audio.file_id : ($json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -48
      ],
      "id": "75ff5547-85e7-4e37-bd0a-2c9e0b69289c",
      "name": "normalizacion"
    },
    {
      "parameters": {
        "chatId": "={{ $('normalizacion').item.json.message_chat_id_sender }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        -48
      ],
      "id": "3921dfc5-3ab1-46a5-a314-18e0fe00019b",
      "name": "responde",
      "webhookId": "3272f944-72ff-4fcb-a0bc-9efe810736c0",
      "credentials": {
        "telegramApi": {
          "id": "TNI7NiKj3gVSgO01",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b562d4-ccf8-4993-8dcc-033c1a5d6b32",
              "name": "content",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        144
      ],
      "id": "cda99696-f5d1-434e-9d5f-faa798e198f8",
      "name": "solo delivery"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        -48
      ],
      "id": "39f3859a-b3c8-4a4f-a08a-fbb7fc0bf4a2",
      "name": "Get a file",
      "webhookId": "b8c5331e-519d-4d88-8e75-f09ec78a2741",
      "credentials": {
        "telegramApi": {
          "id": "TNI7NiKj3gVSgO01",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.mimeType = 'image/jpeg';\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -48
      ],
      "id": "e76db4c8-a23e-4720-87cd-bef1b412cc2e",
      "name": "formato1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Transcibe la siguiente imagen adjunto a texto, quita todos los \\n que encuentres y remplazalos por un espacio, solo quiero el texto limpio",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        576,
        -48
      ],
      "id": "571ec961-171d-43c6-b1f1-edb5c3ca6e7e",
      "name": "transcribe imagen",
      "credentials": {
        "googlePalmApi": {
          "id": "5nBFxidUVJmqsO45",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebb211bd-75f2-4afd-bc8c-dee920b827b9",
              "name": "content",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -240
      ],
      "id": "9fec272b-647e-4f3d-9b29-9e81d7e62a1d",
      "name": "audio procesado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebb211bd-75f2-4afd-bc8c-dee920b827b9",
              "name": "content",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -48
      ],
      "id": "aa97faff-58c0-4193-914b-9d538361af70",
      "name": "imagen procesado"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        384
      ],
      "id": "78e7fa08-5e29-4bff-a48f-e83239e64cb0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "5nBFxidUVJmqsO45",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Funcionas como una herramienta de un agente que busca datos en la base de datos",
        "tableName": "documentos_rag",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1504,
        176
      ],
      "id": "ff6714ac-26b8-4add-bd80-ccc0c455a1b8",
      "name": "buscar_info_cafeteria",
      "credentials": {
        "postgres": {
          "id": "3i3fSGlRt24T52Mq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa esta herramienta para agendar una reserva cuando el cliente te dé su nombre, fecha, hora y cantidad de personas.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cantidad_personas": "={{ Number($fromAI(\"cantidad\", \"Número entero de personas\")) }}",
            "nombre_cliente": "={{ $fromAI(\"nombre\", \"El nombre de la persona que reserva\") }}",
            "fecha_hora": "={{ $fromAI(\"fecha\", \"La fecha y hora en formato YYYY-MM-DD HH:MM:SS\") }}",
            "email": "={{ $fromAI(\"email\", \"El correo. Dejar vacío si no lo dio.\") }}",
            "telegram_chat_id": "={{ $('normalizacion').item.json.message_chat_id_sender.toString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_hora",
              "displayName": "fecha_hora",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "cantidad_personas",
              "displayName": "cantidad_personas",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1792,
        176
      ],
      "id": "55f5c0f0-4136-40e1-8c45-de18ac391c03",
      "name": "registra_agendamiento",
      "credentials": {
        "postgres": {
          "id": "3i3fSGlRt24T52Mq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa esta herramienta cuando el cliente te pida cancelar o eliminar una reserva. Pídele la fecha y hora de la reserva que desea cancelar si no la ha mencionado.",
        "operation": "executeQuery",
        "query": "DELETE FROM reservas \nWHERE telegram_chat_id = '{{ $('normalizacion').item.json.message_chat_id_sender.toString() }}'\n  AND DATE(fecha_hora) = '{{ $fromAI(\"fecha_cancelar\", \"La fecha exacta de la reserva que el cliente quiere cancelar, en formato YYYY-MM-DD\") }}'::DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1920,
        224
      ],
      "id": "df1c643a-486c-484a-af43-3ddb66a58314",
      "name": "elimina_agendamiento",
      "credentials": {
        "postgres": {
          "id": "3i3fSGlRt24T52Mq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa esta herramienta cuando el cliente quiera modificar CUALQUIER dato de una reserva existente (cambiar de día, de hora o cantidad de personas). Debes deducir del historial los datos que el cliente no mencione para mantenerlos iguales.",
        "operation": "executeQuery",
        "query": "UPDATE reservas \nSET \n    fecha_hora = '{{ $fromAI(\"nueva_fecha_hora\", \"La nueva fecha y hora en formato YYYY-MM-DD HH:MM:SS. Si el cliente NO cambia la fecha/hora, envía la fecha y hora original.\") }}'::TIMESTAMP,\n    cantidad_personas = {{ Number($fromAI(\"nueva_cantidad\", \"La nueva cantidad total de personas. Si el cliente NO cambia la cantidad, envía la cantidad original.\") ) }}\nWHERE telegram_chat_id = '{{ $('normalizacion').item.json.message_chat_id_sender.toString() }}'\n  AND DATE(fecha_hora) = '{{ $fromAI(\"fecha_original\", \"La fecha de la reserva original que vamos a buscar, en formato YYYY-MM-DD\") }}'::DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2048,
        320
      ],
      "id": "ad465f9b-b1ca-4728-923a-fd8436954c73",
      "name": "modifica_agendamiento",
      "credentials": {
        "postgres": {
          "id": "3i3fSGlRt24T52Mq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        192
      ],
      "id": "c24fcc0d-9381-47d9-80ec-d0a10a5bfddf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Kn1P1Cldq1MOosBw",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jcmedinag001@gmail.com",
          "mode": "list",
          "cachedResultName": "jcmedinag001@gmail.com"
        },
        "start": "={{ $fromAI(\"fecha\", \"La fecha y hora en formato YYYY-MM-DD HH:MM:SS\") }}",
        "end": "={{ $fromAI(\"fecha_fin\", \"La fecha y hora de finalización de la reserva. Calcula exactamente 1 hora después de la fecha de inicio. Formato YYYY-MM-DD HH:MM:SS\") }}",
        "additionalFields": {
          "summary": "=Reserva: {{ $fromAI(\"nombre\", \"...\") }} ({{ $fromAI(\"cantidad\", \"...\") }} personas)"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1792,
        368
      ],
      "id": "f6c3b5f9-54af-4a3f-afeb-0a8a8ff06de3",
      "name": "registra_calendario",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "yXKdYpSshoU2WdgN",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "normalizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "obtener audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "solo delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener audio": {
      "main": [
        [
          {
            "node": "formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formato": {
      "main": [
        [
          {
            "node": "transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe audio": {
      "main": [
        [
          {
            "node": "audio procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unifica": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "normalizacion": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "responde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "solo delivery": {
      "main": [
        [
          {
            "node": "unifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "formato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formato1": {
      "main": [
        [
          {
            "node": "transcribe imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio procesado": {
      "main": [
        [
          {
            "node": "unifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe imagen": {
      "main": [
        [
          {
            "node": "imagen procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagen procesado": {
      "main": [
        [
          {
            "node": "unifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "buscar_info_cafeteria",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "buscar_info_cafeteria": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registra_agendamiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "elimina_agendamiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "modifica_agendamiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "registra_calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f4b9b60e-00f0-4192-8544-39b05236073a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43091d9d568f6fa10ab3911eb7609cb7d470854a799578d1ea03fb4233c19af7"
  },
  "nodeGroups": [],
  "id": "psJBYitQZd7uYcAU",
  "tags": []
}